.nav {
	border-right: 1px solid rgb(37, 37, 37, .3);
	/* border-bottom: 1px solid rgb(37, 37, 37, .3); */
	width: 250px;
	height: 100%;
	padding: 14px 0;

	ul {
		list-style: none;
	}

	li {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: start;
		align-items: center;
		gap: 16px;
		padding: 12px 38px;
		cursor: pointer;
		color: #252525;

		img {
			max-height: 18px;
			max-width: 18px;
		}
	}

	li:hover {
		background-color: #F2F3FF;
		transition: all .2s ease-in-out;
		border-right: 6px solid #5F6FFF;
	}

	.active {
		background-color: #F2F3FF;
		border-right: 6px solid #5F6FFF;
	}
}