@media (min-width: 1025px) {
	.navigationWrapper {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-bottom: 1px solid rgb(37, 37, 37, .3);
		padding: 0 38px;
	}

	.navigationContainer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 8px 0;
		width: 100%;
	}

	.logoSection {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		gap: 6px;
		width: 115px;
		height: 34px;
		cursor: pointer;

		.logo {
			height: 34px;
			width: 34px;
		}

		p {
			font-size: 24px;
			font-weight: 600;
		}
	}


	.actionSection {
		display: flex;
		flex-direction: row;
		gap: 12px;

		img {
			height: 45px;
			width: 45px;
		}
	}

	.btnContainer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;


	}

	.login {
		border-left: 1px solid #A9A9A9;
		padding: 0;
	}

	.btnContainer p {
		color: var(--text-secondary);
		font-size: 15px;
		font-weight: 400;
		width: max-content;
		cursor: pointer;
		padding: 0 14px;
	}


}

@media (max-width: 1024px) {
	.navigationWrapper {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-bottom: 1px solid rgb(37, 37, 37, .3);
	}

	.navigationContainer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 8px 0;
		width: 95%;
	}

	.logoSection {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		gap: 6px;
		width: 115px;
		height: 34px;
		cursor: pointer;

		.logo {
			height: 34px;
			width: 34px;
		}

		p {
			font-size: 24px;
			font-weight: 600;
		}
	}


	.actionSection {
		display: flex;
		flex-direction: row;
		gap: 12px;

		img {
			height: 45px;
			width: 45px;
		}
	}

	.btnContainer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;


	}

	.login {
		border-left: 1px solid #A9A9A9;
		padding: 0;
	}

	.btnContainer p {
		color: var(--text-secondary);
		font-size: 15px;
		font-weight: 400;
		width: max-content;
		cursor: pointer;
		padding: 0 14px;
	}


}

@media (max-width: 640px) {
	.navigationWrapper {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-bottom: 1px solid rgb(37, 37, 37, .3);
	}

	.navigationContainer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 8px 0;
		width: 95%;
	}

	.logoSection {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		gap: 6px;
		width: 115px;
		height: 34px;
		cursor: pointer;

		.logo {
			height: 28px;
			width: 28px;
		}

		p {
			font-size: 20px;
			font-weight: 600;
		}
	}


	.actionSection {
		display: flex;
		flex-direction: row;
		gap: 12px;

		img {
			height: 34px;
			width: 34px;
		}
	}

	.btnContainer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;


	}

	.login {
		border-left: 1px solid #A9A9A9;
		padding: 0;
	}

	.btnContainer p {
		color: var(--text-secondary);
		font-size: 14px;
		font-weight: 400;
		width: max-content;
		cursor: pointer;
		padding: 0 14px;
	}


}

@media (max-width: 640px) {
	.navigationWrapper {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-bottom: 1px solid rgb(37, 37, 37, .3);
	}

	.navigationContainer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 8px 0;
		width: 95%;
	}

	.logoSection {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		gap: 6px;
		width: 115px;
		height: 34px;
		cursor: pointer;

		.logo {
			height: 24px;
			width: 24px;
		}

		p {
			font-size: 18px;
			font-weight: 600;
		}
	}


	.actionSection {
		display: flex;
		flex-direction: row;
		gap: 12px;

		img {
			height: 27px;
			width: 27px;
		}
	}

	.btnContainer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;


	}

	.login {
		border-left: 1px solid #A9A9A9;
		padding: 0;
	}

	.btnContainer p {
		color: var(--text-secondary);
		font-size: 14px;
		font-weight: 400;
		width: max-content;
		cursor: pointer;
		padding: 0 14px;
	}


}