@media (min-width: 1025px) {
	.footer {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		z-index: 100;
	}

	.footerInfo {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 8px 0;
		width: 80%;
	}

	.logoSection {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		gap: 6px;
		width: 115px;
		height: 34px;
		cursor: pointer;

		.logo {
			height: 34px;
			width: 34px;
		}

		p {
			font-size: 24px;
			font-weight: 600;
		}
	}

	.copyright {
		font-size: 16px;
		color: #797484;
	}

	.socials {
		display: flex;
		flex-direction: row;
		justify-content: start;
		align-items: center;
		gap: 24px;
	}

}

@media (max-width: 1024px) {

	.footer {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: end;
	}

	.footerInfo {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 8px 0;
		width: 90%;
	}

	.logoSection {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		gap: 6px;
		width: 115px;
		height: 34px;
		cursor: pointer;

		.logo {
			height: 24px;
			width: 24px;
		}

		p {
			font-size: 24px;
			font-weight: 600;
			display: none;
		}
	}

	.copyright {
		color: #797484;
	}

	.socials {
		display: flex;
		flex-direction: row;
		justify-content: start;
		align-items: center;
		gap: 24px;
	}
}

@media (max-width: 768px) {
	.footer {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	.footerInfo {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 8px 0;
		width: 95%;
	}

	.logoSection {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		gap: 6px;
		width: 115px;
		height: 34px;
		cursor: pointer;

		.logo {
			height: 34px;
			width: 34px;
		}

		p {
			font-size: 24px;
			font-weight: 600;
		}
	}

	.copyright {
		font-size: 14px;
		color: #797484;
	}

	.socials {
		display: flex;
		flex-direction: row;
		justify-content: start;
		align-items: center;
		gap: 24px;
	}

}


@media (max-width: 640px) {
	.createAccBtn {
		display: none;
	}

	.footerInfo {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 8px 0;
		width: 95%;
	}

	.logoSection {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		gap: 6px;
		width: 115px;
		height: 34px;
		cursor: pointer;

		.logo {
			height: 14px;
			width: 14px;
		}

		p {
			font-size: 14px;
			font-weight: 600;
		}
	}

	.copyright {
		font-size: 12px;
		color: #797484;
	}

	.socials {
		display: flex;
		flex-direction: row;
		justify-content: start;
		align-items: center;
		gap: 16px;
	}

	li svg {
		width: 14px;
		height: 14px;
	}
}