.wrapper {
	/* height: max-content; */
	min-height: 50vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 38px;
	padding: 12px 0;
}

.logoContainer {
	width: 80%;
	height: max-content;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 72px;

}

.title {
	text-align: center;
	color: var(--text-secondary);
	font-size: 16px;
	font-weight: 500;
}

@media (max-width: 640px) {
	.wrapper {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 38px;
		padding: 12px 0;
	}

	.logoContainer {
		width: 90%;
		height: max-content;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 28px;
	}

	.logo img {
		max-width: 89px;
		max-height: 18px;
	}

	.title {
		text-align: center;
		color: var(--text-secondary);
		font-size: 13px;
		font-weight: 500;
	}

}