.addCourse {
	width: 100%;
	height: 100%;
}

.container {
	width: 100%;
	height: 90dvh;
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: start;
}

main {
	background-color: rgb(255, 255, 255);
	width: 100%;
	height: 100%;
	padding: 38px;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	gap: 40px;
}

.dashboardTable {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	gap: 24px;
	width: 90%;
}

.dashboardTable p:nth-child(1) {
	font-size: 18px;
	font-weight: 500;
	color: #1F2937;
}

form {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	gap: 12px;
}

.inputContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	gap: 8px;

}

.inputContainer label {
	font-size: 16px;
	font-weight: 400;
	color: rgb(37, 37, 37, .7);
}

.inputContainer input,
.inputContainer textarea {
	border: 1px solid rgb(37, 37, 37, .5);
	width: 100%;
	padding: 8px 4px;
	border-radius: 4px;
}

.inputContainer textarea {
	min-height: 82px;
}

form div:nth-child(4) {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: end;
}

.dualContainer {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	gap: 8px;
}

form button {
	background-color: #000000;
	font-size: 16px;
	font-weight: 400;
	color: #ffffff;
	width: 91px;
	margin-top: 24px;
}

svg path {
	stroke: #292929;
	stroke-width: 1;
	fill-opacity: 0;
	stroke-dasharray: 1 1;
	stroke-dashoffset: 10;
	animation: draw 4s ease forwards, fillIn 3s ease 1s forwards;
	shape-rendering: geometricPrecision;
}

@keyframes draw {
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes fillIn {
	to {
		fill-opacity: 1;
	}
}