@media (min-width: 1025px) {
	.addCourse {
		width: 100%;
		height: 100%;
	}

	.container {
		width: 100%;
		height: 90dvh;
		display: flex;
		flex-direction: row;
		justify-content: start;
		align-items: start;
	}

	main {
		background-color: rgb(255, 255, 255);
		width: 100%;
		height: 100%;
		padding: 38px;
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: start;
		gap: 40px;
	}

	.dashboardTable {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: start;
		gap: 24px;
		width: 90%;
	}

	.dashboardTable p:nth-child(1) {
		font-size: 18px;
		font-weight: 500;
		color: #1F2937;
	}

	form {
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: start;
		gap: 12px;
	}

	.inputContainer {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: start;
		gap: 8px;

	}

	.inputContainer label {
		font-size: 16px;
		font-weight: 400;
		color: rgb(37, 37, 37, .7);
	}

	.inputContainer input,
	.inputContainer textarea {
		border: 1px solid rgb(37, 37, 37, .5);
		width: 100%;
		padding: 8px 4px;
		border-radius: 4px;
	}

	.inputContainer textarea {
		min-height: 82px;
	}

	form div:nth-child(4) {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: end;
	}

	.dualContainer {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: start;
		gap: 8px;
	}

	form button {
		background-color: #000000;
		font-size: 16px;
		font-weight: 400;
		color: #ffffff;
		width: 91px;
		margin-top: 24px;
	}
}

@media (max-width: 1024px) {
	.addCourse {
		width: 100%;
		height: 100%;
	}

	.container {
		width: 100%;
		height: 90dvh;
		display: flex;
		flex-direction: row;
		justify-content: start;
		align-items: start;
	}

	main {
		background-color: rgb(255, 255, 255);
		width: 100%;
		height: 100%;
		padding: 38px;
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: start;
		gap: 40px;
	}

	.dashboardTable {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: start;
		gap: 24px;
		width: 90%;
	}

	.dashboardTable p:nth-child(1) {
		font-size: 14px;
		font-weight: 500;
		color: #1F2937;
	}

	form {
		width: 80%;
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: start;
		gap: 12px;
	}

	.inputContainer {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: start;
		gap: 8px;

	}

	.inputContainer label {
		font-size: 14px;
		font-weight: 400;
		color: rgb(37, 37, 37, .7);
	}

	.inputContainer input,
	.inputContainer textarea {
		border: 1px solid rgb(37, 37, 37, .5);
		width: 100%;
		padding: 8px 4px;
		border-radius: 4px;
	}

	.inputContainer textarea {
		min-height: 82px;
	}

	input::placeholder {
		font-size: 14px;
	}

	form div:nth-child(4) {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: end;
	}

	.dualContainer {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: start;
		gap: 8px;
	}

	form button {
		background-color: #000000;
		font-size: 14px;
		font-weight: 400;
		color: #ffffff;
		width: 91px;
		margin-top: 24px;
	}

}

@media (max-width: 768px) {
	.addCourse {
		width: 100%;
		height: 100%;
	}

	.container {
		width: 100%;
		height: 90dvh;
		display: flex;
		flex-direction: row;
		justify-content: start;
		align-items: start;
	}

	main {
		background-color: rgb(255, 255, 255);
		width: 100%;
		height: 100%;
		padding: 38px;
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: start;
		gap: 40px;
	}

	.dashboardTable {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: start;
		gap: 24px;
		width: 100%;
	}

	.dashboardTable p:nth-child(1) {
		font-size: 12px;
		font-weight: 500;
		color: #1F2937;
	}

	form {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: start;
		gap: 12px;
	}

	.inputContainer {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: start;
		gap: 8px;

	}

	.inputContainer label {
		font-size: 12px;
		font-weight: 400;
		color: rgb(37, 37, 37, .7);
	}

	.inputContainer input,
	.inputContainer textarea {
		border: 1px solid rgb(37, 37, 37, .5);
		width: 100%;
		padding: 8px 4px;
		border-radius: 4px;
		font-size: 12px;
	}

	.inputContainer textarea {
		min-height: 82px;
		font-size: 12px;
	}

	input::placeholder {
		font-size: 12px;
	}

	form div:nth-child(4) {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: end;
	}

	.dualContainer {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: start;
		gap: 8px;
	}

	form button {
		background-color: #000000;
		font-size: 12px;
		font-weight: 400;
		color: #ffffff;
		width: 91px;
		margin-top: 24px;
	}

}


@media (max-width: 640px) {
	.addCourse {
		width: 100%;
		height: 100%;
	}

	.container {
		width: 100%;
		height: 90dvh;
		display: flex;
		flex-direction: row;
		justify-content: start;
		align-items: start;
	}

	main {
		background-color: rgb(255, 255, 255);
		width: 100%;
		height: 100%;
		padding: 38px;
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: start;
		gap: 40px;
	}

	.dashboardTable {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: start;
		gap: 24px;
		width: 100%;
	}

	.dashboardTable p:nth-child(1) {
		font-size: 10px;
		font-weight: 500;
		color: #1F2937;
	}

	form {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: start;
		gap: 12px;
	}

	.inputContainer {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: start;
		gap: 8px;

	}

	.inputContainer label {
		font-size: 10px;
		font-weight: 400;
		color: rgb(37, 37, 37, .7);
	}

	.inputContainer input,
	.inputContainer textarea {
		border: 1px solid rgb(37, 37, 37, .5);
		width: 100%;
		padding: 8px 4px;
		border-radius: 4px;
	}

	.inputContainer textarea {
		min-height: 82px;
	}

	input::placeholder {
		font-size: 10px;
	}

	form div:nth-child(4) {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: end;
	}

	.dualContainer {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: start;
		gap: 8px;
	}

	form button {
		background-color: #000000;
		font-size: 8px;
		font-weight: 400;
		color: #ffffff;
		width: 91px;
		margin-top: 24px;
	}


}