@media (min-width: 1025px) {
	.heroWrapper {
		min-height: 50vh;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 12px 0;
	}

	.heroContainer {
		display: flex;
		flex-direction: column;
		justify-content: end;
		align-items: center;
		gap: 24px;
		width: 80%;
		flex: 1;
	}

	.title {
		color: var(--text-primary);
		font-size: 46px;
		font-weight: 700;
		width: 60%;
		text-align: center;

		span {
			color: var(--color-primary);
			position: relative;
			display: inline-block;
			margin-left: 0.25em;
		}

		.span {
			color: var(--color-primary);
			position: relative;
			display: inline-block;
			margin-left: 0.25em;
		}

		.span::after {
			content: "";
			position: absolute;
			top: 50px;
			right: 0;
			width: 214px;
			height: 30px;
			background-image: url('../../assets/images/sktech.svg');
			background-size: cover;
			background-repeat: no-repeat;
		}

	}

	.subtitle {
		color: var(--text-secondary);
		font-size: 16px;
		font-weight: 400;
		text-align: center;
		width: 50%;
	}

	.searchContainer {
		border: 1px solid #6b728033;
		border-radius: 5px;
		background-color: #ffffff;
		width: 599px;
		height: 54px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 0 8px;
	}

	label {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		gap: 11px;
		width: 100%;

		img {
			height: 18px;
			width: 18px;
		}
	}

	.searchBtn {
		background-color: var(--color-primary);
		color: var(--text-inverse);
		text-align: center;
		height: 42px;
		width: 146px;
		border-radius: 5px;
		font-size: 15px;
		font-weight: 400;
		border: none;
	}

	.searchInput {
		font-size: 15px;
		padding: 12px 0;
		width: 100%;
		border: none;
	}

	.searchInput:focus {
		border: none;
		outline: none;
	}

	.searchInput::placeholder {
		color: #8A8C8F;
	}

}

@media (max-width: 1024px) {
	.heroWrapper {
		min-height: 50vh;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 12px 0;
	}

	.heroContainer {
		display: flex;
		flex-direction: column;
		justify-content: end;
		align-items: center;
		gap: 24px;
		width: 90%;
		flex: 1;
	}

	.title {
		color: var(--text-primary);
		font-size: 38px;
		font-weight: 700;
		width: 80%;
		text-align: center;

		span {
			color: var(--color-primary);
			position: relative;
			display: inline-block;
			margin-left: 0.25em;
		}

		.span {
			color: var(--color-primary);
			position: relative;
			display: inline-block;
			margin-left: 0.25em;
		}

		.span::after {
			content: "";
			position: absolute;
			top: 50px;
			right: 0;
			width: 214px;
			height: 30px;
			background-image: url('../../assets/images/sktech.svg');
			background-size: cover;
			background-repeat: no-repeat;
		}

	}

	.subtitle {
		color: var(--text-secondary);
		font-size: 15px;
		font-weight: 400;
		text-align: center;
		width: 70%;
	}

	.searchContainer {
		border: 1px solid #6b728033;
		border-radius: 5px;
		background-color: #ffffff;
		width: 599px;
		height: 54px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 0 8px;
	}

	label {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		gap: 11px;
		width: 100%;

		img {
			height: 18px;
			width: 18px;
		}
	}

	.searchBtn {
		background-color: var(--color-primary);
		color: var(--text-inverse);
		text-align: center;
		height: 42px;
		width: 146px;
		border-radius: 5px;
		font-size: 15px;
		font-weight: 400;
		border: none;
	}

	.searchInput {
		font-size: 15px;
		padding: 12px 0;
		width: 100%;
		border: none;
	}

	.searchInput:focus {
		border: none;
		outline: none;
	}

	.searchInput::placeholder {
		color: #8A8C8F;
	}

}

@media (max-width: 768px) {
	.heroWrapper {
		min-height: 50vh;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 12px 0;
	}

	.heroContainer {
		display: flex;
		flex-direction: column;
		justify-content: end;
		align-items: center;
		gap: 24px;
		width: 90%;
		flex: 1;
	}

	.title {
		color: var(--text-primary);
		font-size: 32px;
		font-weight: 700;
		width: 90%;
		text-align: center;

		span {
			color: var(--color-primary);
			position: relative;
		}

		span::after {
			display: none;
		}

	}

	.subtitle {
		color: var(--text-secondary);
		font-size: 14px;
		font-weight: 400;
		text-align: center;
		width: 90%;
	}

	.searchContainer {
		border: 1px solid #6b728033;
		border-radius: 5px;
		background-color: #ffffff;
		width: 599px;
		height: 54px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 0 8px;
	}

	label {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		gap: 11px;
		width: 100%;

		img {
			height: 18px;
			width: 18px;
		}
	}

	.searchBtn {
		background-color: var(--color-primary);
		color: var(--text-inverse);
		text-align: center;
		height: 42px;
		width: 146px;
		border-radius: 5px;
		font-size: 15px;
		font-weight: 400;
		border: none;
	}

	.searchInput {
		font-size: 15px;
		padding: 12px 0;
		width: 100%;
		border: none;
	}

	.searchInput:focus {
		border: none;
		outline: none;
	}

	.searchInput::placeholder {
		color: #8A8C8F;
	}

}

@media (max-width: 640px) {

	.heroContainer {
		display: flex;
		flex-direction: column;
		justify-content: end;
		align-items: center;
		gap: 24px;
		width: 90%;
		flex: 1;
	}

	.title {
		color: var(--text-primary);
		font-size: 28px;
		font-weight: 700;
		width: 100%;
		text-align: center;

		span {
			color: var(--color-primary);
			position: relative;
		}

		span::after {
			content: "";
			display: none;
		}

	}

	.subtitle {
		color: var(--text-secondary);
		font-size: 13px;
		font-weight: 400;
		text-align: center;
		width: 90%;
	}

	.searchContainer {
		border: 1px solid #6b728033;
		border-radius: 5px;
		background-color: #ffffff;
		width: 90%;
		height: 54px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 0 8px;
	}

	label {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		gap: 11px;
		width: 100%;

		img {
			max-height: 10px;
			max-width: 10px;
		}
	}

	.searchBtn {
		background-color: var(--color-primary);
		color: var(--text-inverse);
		text-align: center;
		height: 30px;
		width: 84px;
		border-radius: 5px;
		font-size: 13px;
		font-weight: 400;
		border: none;
	}

	.searchInput {
		font-size: 15px;
		padding: 12px 0;
		width: 100%;
		border: none;
	}

	.searchInput:focus {
		border: none;
		outline: none;
	}

	.searchInput::placeholder {
		font-size: 13px;
		color: #8A8C8F;
	}
}