.dashboardOverview {
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	width: 90%;
	height: max-content;
	gap: 17px;
}

.overviewCard {
	border: 1px solid #0260FF;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 18px;
	border-radius: 6px;
	gap: 14px;

	img {
		height: 56px;
		width: 56px;
	}

	div {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: start;
		width: max-content;
	}

	div p:nth-child(1) {
		font-size: 24px;
		font-weight: 500;
		color: #515151;
	}

	div p:nth-child(2) {
		font-size: 16px;
		font-weight: 500;
		color: #696B80;
		width: max-content;
	}
}