.courseDetails {
	background: linear-gradient(to bottom, #E6FFFF 0%, #FFFFFF 100%);
	height: max-content;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 0 96px 0;
}

.container {
	display: flex;
	width: 80%;
	height: 100%;
}

.detailsContainer {
	flex: 4;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	padding: 96px 0 0 96px;
	gap: 48px;
}

.cardContainer {
	flex: 3;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	padding: 100px 0 0 100px;
}

.descriptionContainer {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	gap: 14px;

	p {
		font-size: 14px;
		font-weight: 400;
		color: #656565;
	}
}

.descriptionContainer p:first-child {
	font-size: 20px;
	font-weight: 600;
	color: #333333;
}