@media (min-width: 1025px) {
	.courseDetails {
		background: linear-gradient(to bottom, #E6FFFF 0%, #FFFFFF 100%);
		height: max-content;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: center;
	}

	.container {
		display: flex;
		width: 80%;
		height: 100%;
		padding: 64px 0;
	}

	.detailsContainer {
		flex: 4;
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: start;
		gap: 48px;
	}

	.cardContainer {
		flex: 3;
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: start;
	}

	.descriptionContainer {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: start;
		gap: 14px;

		p {
			font-size: 14px;
			font-weight: 400;
			color: #656565;
		}
	}

	.descriptionContainer p:first-child {
		font-size: 20px;
		font-weight: 600;
		color: #333333;
	}

}

@media (max-width: 1024px) {
	.courseDetails {
		background: linear-gradient(to bottom, #E6FFFF 0%, #FFFFFF 100%);
		height: max-content;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: center;
	}

	.container {
		display: flex;
		height: max-content;
		flex-direction: column-reverse;
		width: 90%;
		padding: 48px 0;
		gap: 48px;
	}

	.detailsContainer {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: start;
		gap: 48px;
	}

	.cardContainer {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: start;
	}

	.descriptionContainer {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: start;
		gap: 14px;

		p {
			font-size: 14px;
			font-weight: 400;
			color: #656565;
		}
	}

	.descriptionContainer p:first-child {
		font-size: 20px;
		font-weight: 600;
		color: #333333;
	}

}

@media (max-width: 640px) {

	.courseDetails {
		background: linear-gradient(to bottom, #E6FFFF 0%, #FFFFFF 100%);
		height: max-content;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.container {
		display: flex;
		flex-direction: column-reverse;
		justify-content: start;
		align-items: center;
		width: 100%;
		height: max-content;
		gap: 48px;
		padding: 48px 0;
	}

	.detailsContainer {
		width: 90%;
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: center;
		padding: 12px 0 0 12px;
		gap: 48px;
	}

	.cardContainer {
		width: 90%;
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: start;
		padding: 12px 0 0 12px;
	}

	.descriptionContainer {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: center;
		gap: 14px;

		p {
			font-size: 14px;
			font-weight: 400;
			color: #656565;
		}
	}

	.descriptionContainer p:first-child {
		font-size: 20px;
		font-weight: 600;
		color: #333333;
	}
}