@media (min-width: 1025px) {
	.courseImg {
		max-width: 424px;
		min-width: 424px;
		border-radius: 0;
	}

	.courseDescription {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: start;
		padding: 16px;
		gap: 12px;
		width: 100%;
	}

	.timeLeft {
		display: flex;
		flex-direction: row;
		justify-content: start;
		align-items: center;
		gap: 4px;
		color: #FF4B4B;

		img {
			max-height: 16px;
			max-width: 13px;
		}
	}

	.priceContainer {
		display: flex;
		flex-direction: row;
		justify-content: start;
		align-items: center;
		gap: 8px;
		width: max-content;

		p {
			width: max-content;
		}
	}

	.priceContainer p:first-child {
		font-size: 34px;
		font-weight: 600;
		color: var(--text-primary);
	}

	.priceContainer p:nth-child(2),
	p:nth-child(3) {
		font-size: 18px;
		font-weight: 400;
		color: var(--text-secondary);
	}

	.priceContainer p:nth-child(2) {
		text-decoration: line-through;
	}

	.summaryContainer {
		display: flex;
		flex-direction: row;
		justify-content: start;
		align-items: center;
		gap: 8px;
		width: max-content;

		p {
			font-size: 14px;
			color: #656565;
			width: max-content;
			display: flex;
			flex-direction: row;
			justify-content: start;
			align-items: center;
			gap: 8px;
			border-right: 1px solid #656565;
			padding: 0 8px 0 0;
		}

	}

	.summaryContainer p:first-child {
		color: #404040;
	}

	.summaryContainer p:last-child {
		border: none;
	}

	.enrollNowBtn {
		font-size: 14px;
		width: 100%;
		background-color: var(--color-primary);
		color: var(--text-inverse);
		border: none;

	}

	.question {
		font-size: 18px;
		font-weight: 500;
		color: #333333;
	}

	ul {
		list-style: inside;
	}

	li {
		font-size: 14px;
		font-weight: 400;
		color: #656565;
	}

}


@media (max-width: 1024px) {

	.courseImg {
		max-width: 333px;
		min-height: 187px;
		border-radius: 0;
	}

	.courseDescription {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: start;
		padding: 14px;
		gap: 12px;
		width: 100%;
	}

	.timeLeft {
		display: flex;
		flex-direction: row;
		justify-content: start;
		align-items: center;
		gap: 4px;
		color: #FF4B4B;
		font-size: 15px;
		font-weight: 400;

		img {
			max-height: 16px;
			max-width: 13px;
		}
	}

	.priceContainer {
		display: flex;
		flex-direction: row;
		justify-content: start;
		align-items: center;
		gap: 8px;
		width: max-content;

		p {
			width: max-content;
		}
	}

	.priceContainer p:first-child {
		font-size: 24px;
		font-weight: 600;
		color: var(--text-primary);
	}

	.priceContainer p:nth-child(2),
	p:nth-child(3) {
		font-size: 15px;
		font-weight: 400;
		color: var(--text-secondary);
	}

	.priceContainer p:nth-child(2) {
		text-decoration: line-through;
	}

	.summaryContainer {
		display: flex;
		flex-direction: row;
		justify-content: start;
		align-items: center;
		gap: 8px;
		width: max-content;

		p {
			font-size: 14px;
			color: #656565;
			width: max-content;
			display: flex;
			flex-direction: row;
			justify-content: start;
			align-items: center;
			gap: 8px;
			border-right: 1px solid #656565;
			padding: 0 8px 0 0;
		}

	}

	.summaryContainer p:first-child {
		color: #404040;
	}

	.summaryContainer p:last-child {
		border: none;
	}

	.enrollNowBtn {
		font-size: 14px;
		width: 100%;
		background-color: var(--color-primary);
		color: var(--text-inverse);
		border: none;

	}

	.question {
		font-size: 18px;
		font-weight: 500;
		color: #333333;
	}

	ul {
		list-style: inside;
	}

	li {
		font-size: 14px;
		font-weight: 400;
		color: #656565;
	}

}

@media (max-width: 640px) {

	.courseImg {
		max-width: 333px;
		min-height: 187px;
		border-radius: 0;
	}

	.courseDescription {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: start;
		padding: 14px;
		gap: 12px;
		width: 100%;
	}

	.timeLeft {
		display: flex;
		flex-direction: row;
		justify-content: start;
		align-items: center;
		gap: 4px;
		color: #FF4B4B;
		font-size: 15px;
		font-weight: 400;

		img {
			max-height: 16px;
			max-width: 13px;
		}
	}

	.priceContainer {
		display: flex;
		flex-direction: row;
		justify-content: start;
		align-items: center;
		gap: 8px;
		width: max-content;

		p {
			width: max-content;
		}
	}

	.priceContainer p:first-child {
		font-size: 24px;
		font-weight: 600;
		color: var(--text-primary);
	}

	.priceContainer p:nth-child(2),
	p:nth-child(3) {
		font-size: 15px;
		font-weight: 400;
		color: var(--text-secondary);
	}

	.priceContainer p:nth-child(2) {
		text-decoration: line-through;
	}

	.summaryContainer {
		display: flex;
		flex-direction: row;
		justify-content: start;
		align-items: center;
		gap: 8px;
		width: max-content;

		p {
			font-size: 14px;
			color: #656565;
			width: max-content;
			display: flex;
			flex-direction: row;
			justify-content: start;
			align-items: center;
			gap: 8px;
			border-right: 1px solid #656565;
			padding: 0 8px 0 0;
		}

	}

	.summaryContainer p:first-child {
		color: #404040;
	}

	.summaryContainer p:last-child {
		border: none;
	}

	.enrollNowBtn {
		font-size: 14px;
		width: 100%;
		background-color: var(--color-primary);
		color: var(--text-inverse);
		border: none;

	}

	.question {
		font-size: 18px;
		font-weight: 500;
		color: #333333;
	}

	ul {
		list-style: inside;
	}

	li {
		font-size: 14px;
		font-weight: 400;
		color: #656565;
	}

}