@media (min-width: 1025px) {
	.navigationWrapper {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-bottom: 1px solid #63708359;
		border-bottom: 1px solid #63708341;
	}

	.navigationContainer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 8px 0;
		width: 80%;
	}

	.logoSection {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		gap: 6px;
		width: 115px;
		height: 34px;
		cursor: pointer;

		.logo {
			height: 34px;
			width: 34px;
		}

		p {
			font-size: 24px;
			font-weight: 600;
		}
	}


	.actionSection {
		display: flex;
		flex-direction: row;
		gap: 35px;
	}

	.btnContainer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;


	}

	.login {
		border-left: 1px solid #A9A9A9;
		padding: 0;
	}

	.btnContainer p {
		color: var(--text-secondary);
		font-size: 15px;
		font-weight: 400;
		width: max-content;
		cursor: pointer;
		padding: 0 14px;
	}

	.createAccBtn {
		background-color: var(--color-primary);
		border-radius: 50px;
		text-align: center;
		height: 42px;
		width: 160px;
		font-size: 15px;
		font-weight: 400;
		color: var(--text-inverse);
		border: none;
	}

	.userIcon {
		display: none;
	}
}

@media (max-width: 1024px) {

	.navigationWrapper {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-bottom: 1px solid #637083;
	}

	.navigationContainer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 8px 0;
		width: 90%;
	}

	.logoSection {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		gap: 6px;
		width: 115px;
		height: 34px;
		cursor: pointer;

		.logo {
			height: 34px;
			width: 34px;
		}

		p {
			font-size: 24px;
			font-weight: 600;
		}
	}

	.actionSection {
		display: flex;
		flex-direction: row;
		gap: 12px;
	}

	.btnContainer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	.login {
		border-left: 1px solid #A9A9A9;
		padding: 0;
	}

	.btnContainer p {
		color: var(--text-secondary);
		font-size: 15px;
		font-weight: 400;
		width: max-content;
		cursor: pointer;
		padding: 0 14px;
	}

	.createAccBtn {
		background-color: var(--color-primary);
		border-radius: 50px;
		text-align: center;
		height: 42px;
		width: 160px;
		font-size: 15px;
		font-weight: 400;
		color: var(--text-inverse);
		border: none;
	}

	.userIcon {
		display: none;
	}
}

@media (max-width: 768px) {
	.navigationWrapper {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-bottom: 1px solid #637083;
	}

	.navigationContainer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 8px 0;
		width: 95%;
	}

	.logoSection {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		gap: 6px;
		width: 115px;
		height: 34px;
		cursor: pointer;

		.logo {
			height: 34px;
			width: 34px;
		}

		p {
			font-size: 24px;
			font-weight: 600;
		}
	}

	.actionSection {
		display: flex;
		flex-direction: row;
		gap: 12px;
	}

	.btnContainer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	.login {
		border-left: 1px solid #A9A9A9;
		padding: 0;
	}

	.btnContainer p {
		color: var(--text-secondary);
		font-size: 15px;
		font-weight: 400;
		width: max-content;
		cursor: pointer;
		padding: 0 14px;
	}

	.createAccBtn {
		background-color: var(--color-primary);
		border-radius: 50px;
		text-align: center;
		height: 42px;
		width: 160px;
		font-size: 15px;
		font-weight: 400;
		color: var(--text-inverse);
		border: none;
	}

	.userIcon {
		display: none;
	}
}


@media (max-width: 640px) {
	.createAccBtn {
		display: none;
	}

	.navigationContainer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 8px 0;
		width: 95%;
	}

	.logoSection {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		gap: 6px;
		width: 115px;
		height: 34px;
		cursor: pointer;

		.logo {
			height: 24px;
			width: 24px;
		}

		p {
			font-size: 18px;
			font-weight: 600;
		}
	}

	.login {
		display: none;
	}

	.btnContainer p {
		color: var(--text-secondary);
		font-size: 14px;
		font-weight: 400;
		width: max-content;
		cursor: pointer;
		padding: 0 14px;
	}

	.createAccBtn {
		background-color: var(--color-primary);
		border-radius: 50px;
		text-align: center;
		height: 42px;
		width: 160px;
		font-size: 15px;
		font-weight: 400;
		color: var(--text-inverse);
		border: none;
	}

	.userIcon {
		display: block;
		color: var(--text-secondary);
		border: 1px solid var(--text-secondary);
		border-radius: 50%;
	}
}