@media (min-width: 1025px) {
	.testimonial {
		width: 100%;
		min-height: 100vh;
		height: max-content;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 48px;
		padding: 12px 0;
	}

	.title {
		font-size: 30px;
		font-weight: 500;
		text-align: center;
		color: var(--text-primary);
	}

	.subtitle {
		font-size: 16px;
		font-weight: 400;
		text-align: center;
		color: var(--text-secondary);
		width: 35%;
	}

	.container {
		width: 80%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 29px;
	}

}

@media (max-width: 1024px) {
	.testimonial {
		width: 100%;
		min-height: 100vh;
		height: max-content;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 42px;
		padding: 12px 0;
	}

	.title {
		font-size: 28px;
		font-weight: 500;
		text-align: center;
		color: var(--text-primary);
	}

	.subtitle {
		font-size: 15px;
		font-weight: 400;
		text-align: center;
		color: var(--text-secondary);
		width: 45%;
	}

	.container {
		width: 80%;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 29px;
	}

}

@media (max-width: 768px) {
	.testimonial {
		width: 100%;
		min-height: 100vh;
		height: max-content;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 32px;
		padding: 12px 0;
	}

	.title {
		font-size: 24px;
		font-weight: 500;
		text-align: center;
		color: var(--text-primary);
	}

	.subtitle {
		font-size: 13px;
		font-weight: 400;
		text-align: center;
		color: var(--text-secondary);
		width: 45%;
	}

	.container {
		width: 80%;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 29px;
	}

}

@media (max-width: 640px) {
	.testimonial {
		width: 100%;
		min-height: 100vh;
		height: max-content;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 30px;
		padding: 12px 0;
	}

	.title {
		font-size: 18px;
		font-weight: 500;
		text-align: center;
		color: var(--text-primary);
	}

	.subtitle {
		font-size: 13px;
		font-weight: 400;
		text-align: center;
		color: var(--text-secondary);
		width: 90%;
	}

	.container {
		width: 90%;
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: center;
		gap: 22px;
	}
}