.myCourses {
	width: 100%;
}


.container {
	width: 100%;
	height: 90dvh;
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: start;
}

main {
	background-color: rgb(255, 255, 255);
	width: 100%;
	height: 100%;
	padding: 38px;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	gap: 40px;
}

.dashboardTable {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	gap: 24px;
	width: 90%;
}

.dashboardTable p:nth-child(1) {
	font-size: 18px;
	font-weight: 500;
	color: #1F2937;
}