.toggle {
	position: relative;
	cursor: pointer;
	width: 40px;
	height: 21px;
}

.toggle input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #CBD5E1;
	transition: 0.4s;
	border-radius: 30px;
}

.slider::before {
	position: absolute;
	content: "";
	width: 15px;
	height: 15px;
	border-radius: 50%;
	transition: 0.4s;
	background-color: #FFFFFF;
	top: 3px;
	left: 3px;
}

.active {
	background-color: var(--color-primary);
	transition: 0.4s;
}

.active::before {
	background-color: #FFFFFF;
	transform: translateX(18px);
	transition: 0.4s;
}